<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<bean id="comp" class="com.example.demo.Company">
		<constructor-arg value="Company ABC"></constructor-arg>
		<constructor-arg value="Chennai"></constructor-arg>
	</bean>
	
	<bean id="emp" class="com.example.demo.Employee">
		<constructor-arg value="Anu"></constructor-arg>
		<constructor-arg ref="comp"></constructor-arg>
	</bean>
	
	
	
</beans>